#main-section{
	background-image:url("./Sun Voyager_trip.jpg");
	background-position:top;
	background-size:cover;
	background-attachment:fixed;
	overflow-y:hidden;
	padding-top:150px;
	padding-bottom:600px;
	text-align:center;
}

a{
	cursor:pointer;
}

nav iframe{
	display:block;
	text-align:left;
	padding-left:150px;
}

#social-icons, p{
	font-size:54px;
}

#social-icons a{
	text-decoration:none;
	color:black;
}

#shows-link{
	font-size:24px;
	font-family:"Bangers";
	display:block;
	text-align:right;
	margin-right:150px;
	color:#ebdedb;
	margin-bottom:50px;
	position:right;
}

#social-icons a:hover, #shows-link:hover{
	color:yellow;
}

.icon-social-facebook, .icon-social-twitter, .icon-social-youtube, .icon-social-instagram{
	padding-right:10px;
}

.os-animation{
  opacity: 0;
}

.os-animation.animated{
    opacity: 1;
}

.bit-nav-bar, .bit-date, .bit-venue, .bit-location, .bit-button{
	font-size:16px;
	font-weight:bold;
}


#bandsintown-container{
	overflow-y:auto;
	background-image:url("./Sun Voyager_trip no name.jpg");
	background-repeat:no-repeat;
	background-size:100%;
	background-size:2000px;
	background-color:#b12728;
	margin-left:200px;
	margin-right:200px;
	padding-top:25px;
	padding-right:30px;
	padding-left:30px;
	padding-bottom:60px;
	border-color:#fede00;
	border-style:solid;
	border-width:6px;
	border-radius:24px;
}

#youtube-video{
	text-align:center;
}

.bit-nav-bar, .bit-date, .bit-venue, .bit-location, .bit-button, p{
	font-family:"Reem Kufi", sans-serif;
	font-size:22px;
	color:#ebdedb;
}



@media handheld, only screen and (max-width: 900px){
	#bandsintown-container{
		margin-left:10px;
		margin-right:10px;
	}

	#shows-link{
		position:center;
		text-align:center;
		margin-right:0px;
		margin-bottom:100px;
	}

	#main-section{
		background-image:url("https://f4.bcbits.com/img/a2467268549_10.jpg");
		padding-top:20px;
		background-attachment:initial;
		background-position-x:center;
		background-position-y:top;
		background-origin:initial;
		background-clip:initial;
		background-size:cover;
	}
}